<article class="container-card">
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla tenetur ab tempora atque,
         aliquid doloremque dolorem illo sunt. Saepe corporis tempore incidunt minus quia temporibus
          dignissimos! A maiores doloribus magni sapiente saepe, quis laudantium eius quas exercitationem 
    </p>
    <div class="container-img">
        <img class="glacon" src="/img/glacons.png" alt="">
        <img class="secondary" src="/img/citron.png" alt="">
        <img class="main" src="/img/citron-eau.png" alt="">
    </div>
</article>
