<header id="main-header" class="glass">
    <div class="container">
        <h1 class="logo">
            <i class="fas fa-store"></i>
        </h1>
        <nav>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/about.html">A propos</a></li>
                <li><a href="/realisations.html">Réalisations</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
        <ul class="icons">

            <li><a href="#"><i class="fas fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</header>