<header id="main-header" class="glass">
    <div class="container">
        <h1 class="logo">
            <i class="fas fa-store"></i>
        </h1>
        <nav class="navbar">
            <ul class="list-links">
                <li><a class="link home" href="/">Accueil</a></li>
                <li><a class="link about" href="/about/">A propos</a></li>
                <li><a class="link realisations" href="/products/">Nos fruits</a></li>
                <li><a class="link blog" href="/blog/">Blog</a></li>
                <li><a class="link contact" href="/contact/">Contact</a></li>
            </ul>
        </nav>
        <ul class="icons">

            <li><a href="#"><i class="fas fa-user"></i></a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</header>
